<h1>Welcome#index</h1>
    <h2>This page has been viewed <%= pluralize(@page_hits, 'time') %>!</h2>
    <p>Find me in app/views/welcome/index.html.erb</p>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
        <%= line_chart(:a => 3, :b => 2, :c => 5) %>

        <%= line_chart(@data) %>
        <%#= line_chart(a: 3, b: 2, c: 5) %>

        <%#= line_chart(:a => @rtts_[0], :b => @rtts_[1], :c => @rtts_[2], :d => @rtts_[3], :e => @rtts_[4]) %>
    

    <div class="container-fluid">
    <%= line_chart(@data) %>
    <%= line_chart(@data) %>
    </div>

   <div class="container">
        <div class="row">
            <div class="col"><%= line_chart(@data) %></div>
            <div class="col"><%= line_chart(@data) %></div>
            <div class="w-100"></div>
            <div class="col"><%= line_chart(@data) %></div>
            <div class="col"><%= line_chart(@data) %></div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm">
            <%= line_chart(@data) %>
            </div>
            <div class="col-sm">
            <%= line_chart(@data) %>
            </div>
            <div class="col-sm">
            <%= line_chart(@data) %>
            </div>
        </div>
    </div>

<div class="container">
  <div class="row">
    <div class="col">
       <p> <%=@data1[1]%> </p>
        <%= line_chart(@data1[0]) %>
        <p>Latência: <%=@data1[2]%>ms</p>
    </div>
    <div class="col">
      2 de 2 <%= line_chart(@data2) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 de 3 <%= line_chart(@data3) %>
    </div>
    <div class="col">
      2 de 3 <%= line_chart(@data4) %>
    </div>
    <div class="col">
      3 de 3 <%= line_chart(@data1) %>
    </div>
  </div>
</div>




    teste

                <div class="alert alert-primary" role="alert">
                    Um simples alerta primary. Olha só!
                </div>

    <%#= line_chart(@rtts_) %>


<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>